 .img-text
{	
	display: inline-block;
    border: 1px solid #333; 
    padding: 7px; 
    margin: 10px 0 5px 5px; 
    background: #f0f0f0; 
}
.img-text p 
{
	text-align: center;
}

.galery
{
	width:100%;
} 
.sova img{  width:640px; height:375px;}
.sova1 img{  width:640px; height:375px;}
